body{
  background-color: beige;
}
.jerry{
display: flex;
 /* justify-content: space-around; */
 align-items: flex-start;
 min-height: 18%;
 background: yellow;
 color: black;
 font-size: 170%;
 
}
.dead{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color: green;
}